<ion-header>
  <ion-toolbar color="blue1">

    

    <ion-title>Informações de Produto</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/minhasestampagens"></ion-back-button>
    </ion-buttons>

    <div class="icon" slot="end">
      <ion-icon name="person"></ion-icon>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="infoEstamp">
    <img src="../../assets/imgs/{{ infoEstamp.img }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ infoEstamp.Preco }} €</ion-card-subtitle>
      <ion-card-title>{{ infoEstamp.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item-divider>
        <ion-icon color="success" slot="start"></ion-icon>
        <ion-badge color="blue1" slot="end"><h2>{{ infoEstamp.Tamanho }}</h2></ion-badge>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>



</ion-content>
