<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Social</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="links">

  <ion-button href="https://www.instagram.com" type="submit" color="danger" class="botaoGoogle" >
    <ion-icon slot="start" name="logo-instagram"></ion-icon>
    Pictura
  </ion-button>

<br>
  <ion-button href="https://www.facebook.com" type="submit" color="danger" class="botaoGoogle">
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Pictura
  </ion-button>

</section>




</ion-content>
