<ion-header>
  <ion-toolbar color="blue1">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Minhas Estampagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <button class="imagem_botao">
    <img src=" ./assets/imgs/tshirt.png" class="imagem1">
  </button>

  <button>
    <img src=" ./assets/imgs/cao1.png" class="imagem2">
  </button>

  <div class="container">
    <ion-button color="blue1" class="botao" routerLink="/tabs/tab2">
      <span>
        <ion-icon name="construct-outline" class="icon-botao"></ion-icon>
        Editar
      </span>
    </ion-button>
    <br>
    <ion-button class="botao" color="red" routerLink="/tabs/tab2">
      <span>
        <ion-icon name="trash-outline" class="icon-botao"></ion-icon>
        Eliminar
      </span>
    </ion-button>

  </div>
</ion-content>
