<ion-header>
  <ion-toolbar>
    <ion-title align="center">Finalizar Compra 3/3</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/compra2"></ion-back-button>
    </ion-buttons>

    <div class="icon" slot="end">
      <ion-icon name="person"></ion-icon>
    </div>


  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="titulo">
    <ion-text>Métodos de Pagamento</ion-text>
  </div>

  <ion-radio-group value="pag">
    <ion-item>
      <ion-label>
        <ion-icon name="card-outline"></ion-icon>Cartão Multibanco
      </ion-label>
      <ion-radio slot="start" color="primary" value="cartao"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="logo-paypal"></ion-icon>PayPal
      </ion-label>
      <ion-radio slot="start" color="primary" value="paypal"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="reader"></ion-icon>Referencia Bancária
      </ion-label>
      <ion-radio slot="start" color="primary" value="ref"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label> <img src="./assets/imgs/mbway1.png" />MBWay</ion-label>
      <ion-radio slot="start" color="primary" value="mbway"></ion-radio>
    </ion-item>
  </ion-radio-group>


  <div class="seta">

    <ion-button (click)="openToast()" fill="outline" routerLink="../compra3" color="danger">
      <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>

  </div>

</ion-content>
