.titulo {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  font-size: 25px;
  text-align: center;
  margin-right: 5%;
}
.cont {
  position: absolute;
  right: 0%;
  left: 0%;
  top: 88%;
}

.seta {
  text-align: center;
  margin-top: 50px;
}
