.container {
  margin-top: 50px;
  text-align: center;
}

.botao {
  width: 280px;
  height: 45px;
  text-align: left;
  margin-top: 20px;
}

.icon-botao {
  margin-right: 3%;
  margin-left: 3%;
  font-size: 20px;
}

.center {
  text-align: center;
  margin-top: 50px;
}

ion-button {
  span {
    text-align: left;
    width: 100%;
    font-size: 16px;
  }
}
