.imagem_caneca{
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    top: 200px;
    left: 120px;
    right: 0;
}
.button_guardar{
    border-radius: 10px 10px 7px 7px;
    position: absolute;
    top: 370px;
    left: 5px;
    right: 0;
}

.button_guardar2{
    position: absolute;
    top: 420px;
    left: 5px;
    right: 0;
}