.container{
    position: absolute;
    top: 180px;
    left: 120px;
    right: 0;
}
.button_guardar{
    border-radius: 10px 10px 7px 7px;
    position: absolute;
    top: 440px;
    left: 5px;
    right: 0;
}

.button_guardar2{
    position: absolute;
    top: 470px;
    left: 5px;
    right: 0;
}