.toolbar {
  text-align: center;
  font-size: 25px;
  margin-right: -5%;
}

.icon {
  font-size: 25px;
  text-align: right;
  margin-right: 5%;
  margin-top: -6%;
}

.menu {
  text-align: center;
  margin-top: 30%;
}

.botao {
  margin-left: 17%;
  margin-right: 17%;
}

.icon-botao {
  text-align: left;
}
