<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Definições</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">


  <section class="menu">
    <ion-button class="botao" color="blue1">
      <span>
        <ion-icon name="person-circle-outline" class="icon-botao"></ion-icon>
        A Minha Conta
      </span>
    </ion-button>

    <br>

    <ion-button class="botao" color="blue1">
      <span>
        <ion-icon class="icon-botao" name="accessibility-outline"></ion-icon>
        Acessibilidade
      </span>
    </ion-button>

    <br>

    <ion-button class="botao" color="blue1">
      <span>
        <ion-icon name="lock-closed-outline" class="icon-botao"></ion-icon>
        Privacidade
      </span>
    </ion-button>

    <br>
    <ion-button class="botao" color="blue1">
      <span>
        <ion-icon class="icon-botao" name="notifications-outline"></ion-icon>
        Notificações
      </span>
    </ion-button>
    <br>
  </section>
  <div class="cont" routerLink="../../inicio">
    <ion-button color="red" class="cont" expand="block">
      <ion-icon slot="start" name="exit-outline"></ion-icon>
      Sair
    </ion-button>

  </div>

</ion-content>
