<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">Definições</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>

    <div class="icon" slot="end">
      <ion-icon name="person"></ion-icon>
    </div>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cont" routerLink="../../inicio">
    <ion-button color="danger" class="cont">
      Sair
     </ion-button>
     
  </div>
  
</ion-content>
