  .cont {
    position: absolute;
    right: 0%;
    left: 0%;
  
    bottom: 12%;
  }
  .button {

        margin-left: 17%;
        margin-right: 17%;

   }
   .menu {
    text-align: center;
    margin-top: 25%;
  }
  
  .botao {
    width: 260px;
    height: 45px;
    //text-align: left;
    //margin-top:10px;
    //margin-left: 40px;
  }
  
  .icon-botao {
    margin-right: 3%;
    margin-left: 3%;
    font-size: 22px;
  }
  
  ion-button{
    span{
      text-align:left;
      width:100%;
      font-size: 18px;
    }
  }
  