<ion-header>

  <ion-toolbar>
    <ion-title align="center">Finalizar Compra 2/3</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/compra1"></ion-back-button>
    </ion-buttons>

    <div class="icon" slot="end">
      <ion-icon name="person"></ion-icon>
    </div>

  </ion-toolbar>


</ion-header>

<ion-content>

  <div class="titulo">
    <ion-text>Dados de Faturação</ion-text>
  </div>

  <ion-item lines="full" align="center">
    <ion-label position="floating">
      Nome Completo
    </ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>

  <ion-item lines="full" align="center">
    <ion-label position="floating">
      NIF
    </ion-label>
    <ion-input required type="number"></ion-input>
  </ion-item>

  <ion-item lines="full" align="center">
    <ion-label position="floating">
      Número da porta
    </ion-label>
    <ion-input required type="number"></ion-input>
  </ion-item>

  <ion-item lines="full" align="center">
    <ion-label position="floating">
      Rua
    </ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Código Postal </ion-label>
    <ion-input placeholder="CodPostal" type="number"></ion-input>-<ion-input placeholder="CodPostal" type="number">
    </ion-input>
  </ion-item>

  <ion-item lines="full" align="center">
    <ion-label position="floating">
      Cidade
    </ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>



  <div class="center">
    <ion-icon name="arrow-forward-circle-outline" class="next" button="true" routerLink="../compra3"></ion-icon>
  </div>



</ion-content>
