<ion-header>
  <ion-toolbar>
    <ion-title align="center">Finalizar Compra 2/3</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>

    <div class="icon" slot="end">
      <ion-icon name="person"></ion-icon>
    </div>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nome Completo</ion-label>
    <ion-input placeholder="Nome" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>NIF</ion-label>
    <ion-input placeholder="Nif" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Número da porta</ion-label>
    <ion-input placeholder="Número da porta" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Rua </ion-label>
    <ion-input placeholder="Endereço" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Código Postal </ion-label>
    <ion-input placeholder="CodPostal" type="number"></ion-input>-<ion-input placeholder="CodPostal" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cidade </ion-label>
    <ion-input placeholder="Cidade" type="text"></ion-input>
  </ion-item>


  <div>
    <ion-icon name="arrow-forward-circle-outline" class="next" button="true" routerLink="../compra3"></ion-icon>
  </div>


  
</ion-content>
