<ion-header>
  <div class="css">
    <img src="../../assets/logo.jpg" height="120" width="120" />
    <ion-text class="titulo"> Bem Vindo à Pictura</ion-text>
  </div>
</ion-header>

<ion-content>




  <div class="LabelIncio">
    <ion-text class="LabelIncio">Iniciar Sessão</ion-text>
  </div>

  <div class="container">

    <ion-item lines="full" align="center">
      <ion-label position="floating">
        Nome de Utilizador
      </ion-label>

      <ion-input required></ion-input>

    </ion-item>

    <ion-item>
      <ion-label class="input" position="floating">
        Palavra-passe
      </ion-label>
      <ion-input class="input" type="password" required></ion-input>

    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button routerLink="/tabs" type="submit" color="danger" class="botao">Iniciar Sessão</ion-button>
        <ion-button color="danger" class="botao">Registo</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button routerLink="/tabs" type="submit" color="danger" class="botaoGoogle">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Entrar com o Google
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>
