<ion-header>
  <div class="css">
    <img src="../../assets/logo.jpg" height="120" width="120" />
    <ion-text> Bem Vindo à Pictura</ion-text>
  </div>
</ion-header>

<ion-content>
  <div class="conteudo">
    <ion-text align="center">Iniciar Sessão</ion-text>
  </div>

  <div class="container">
    <p>
      <ion-text>&emsp;Nome de Utilizador</ion-text>
      <ion-item><ion-input type="text" ></ion-input></ion-item>
    </p>
   <!-- <ion-textarea></ion-textarea>-->

    <p>
      <ion-text>&emsp;Palavra-passe</ion-text>
      <ion-item><ion-input type="password" ></ion-input></ion-item>
      
    </p>
    <!--<ion-textarea></ion-textarea>-->


    <section>
      <ion-button size="small" class="regs">Registo</ion-button>
      <ion-button routerLink="/tabs" size="small" color="secondary" class="login">Iniciar sessão</ion-button>
    </section>

  </div>

  <div class="google">

    <ion-button routerLink="/tabs">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Entrar com o Google
    </ion-button>
  </div>

</ion-content>
