.icon {
  font-size: 25px;
  text-align: center;
  margin-right: 5%;
}
.titulo {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}
.imagem1 {
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 90px;
  left: 60px;
  right: 0;
  height: 120px;
  width: 120px;
}

.add1 {
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 230px;
  left: 60px;
  right: 0;
  height: 120px;
  width: 120px;
}

.quantidade {
  position: absolute;
  top: 400px;

  right: 0;
  height: 120px;
  width: 120px;
}
.imagem2 {
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 90px;
  left: 200px;
  right: 0;
  height: 120px;
  width: 120px;
}
.next {
  font-size: 100px;
  margin-top: 350px;
}

.seta {
  text-align: center;
  margin-top: 20px;
}
