<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Finalizar Compra 1/3</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-title align="center" class="titulo">Selecionar os produtos(s)</ion-title>

  <button (click)="click()" block>
    <img src=" ../../../../assets/estampagem1.png" class="imagem1">
</button>
<button (click)="click()" block>
  <img src=" ../../../../assets/estampagem2.png" onclick="aumentar" class="imagem2">
</button>


<ion-content>

  <div>
    <ion-icon name="arrow-forward-circle-outline" class="next" button="true" routerLink="../compra2"></ion-icon>
  </div>

</ion-content>
